.about {
  padding: 100px 20px;
  background-color: #172026; /* Dark background for contrast */
  color: #FFFFFF; /* White text for high contrast */
  animation: fadeIn 1.5s ease-in-out;
  text-align: center;
  display: flex; /* Use flexbox for centering */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  min-height: 100vh; /* Full height of the viewport */
}

.about h3 {
  font-size: 2.0rem; /* Larger heading for better emphasis */
  margin: 20px 0; /* Adjust margins for better spacing */
  color: #5FCDD9; /* Light turquoise for headings */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.intro {
  font-weight: bold;
  font-size: 1.5rem;
  color: #04BFAD; /* Vibrant teal for emphasis */
  margin-bottom: 20px; /* Space between intro and description */
}

.about-description {
  font-size: 1.2rem; /* Slightly larger for readability */
  line-height: 1.6; /* Improved line spacing */
  max-width: 800px; /* Keep the text block narrower for readability */
  margin: 20px auto; /* Adjusted margin for consistency */
  padding: 0 10px; /* Add some padding for smaller screens */
}

.about-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 30px; /* Adjusted margin for better spacing */
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #5FCDD9;
}

.nav-links {
  display: flex;
  gap: 15px;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .show-menu .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #5FCDD9;
    gap: 10px;
    padding: 10px 0;
  }

  .about-content {
    flex-direction: column; /* Stack vertically on smaller screens */
  }

  .about h3 {
    margin: 10px 0; /* Less margin on small screens */
  }
}
